.petalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

.petal {
    position: absolute;
    top: -50px;
    width: 20px;
    height: 20px;
    background-color: hsla(var(--primary), 0.7);
    border-radius: 15px 0px 15px 0px;
    animation: fall linear infinite;
}

.petal:nth-child(1) { left: 10%; animation-duration: 15s; animation-delay: 0s; }
.petal:nth-child(2) { left: 20%; animation-duration: 10s; animation-delay: -5s; width: 15px; height: 15px; }
.petal:nth-child(3) { left: 30%; animation-duration: 20s; animation-delay: -2s; }
.petal:nth-child(4) { left: 40%; animation-duration: 12s; animation-delay: -10s; width: 25px; height: 25px; }
.petal:nth-child(5) { left: 50%; animation-duration: 18s; animation-delay: -7s; }
.petal:nth-child(6) { left: 60%; animation-duration: 14s; animation-delay: -1s; width: 12px; height: 12px; }
.petal:nth-child(7) { left: 70%; animation-duration: 16s; animation-delay: -8s; }
.petal:nth-child(8) { left: 80%; animation-duration: 11s; animation-delay: -3s; }
.petal:nth-child(9) { left: 90%; animation-duration: 19s; animation-delay: -6s; width: 18px; height: 18px; }
.petal:nth-child(10) { left: 5%; animation-duration: 22s; animation-delay: -4s; }
.petal:nth-child(11) { left: 25%; animation-duration: 13s; animation-delay: -9s; }
.petal:nth-child(12) { left: 45%; animation-duration: 17s; animation-delay: -12s; width: 22px; height: 22px; }
.petal:nth-child(13) { left: 65%; animation-duration: 9s; animation-delay: -2s; }
.petal:nth-child(14) { left: 85%; animation-duration: 21s; animation-delay: -11s; }
.petal:nth-child(15) { left: 95%; animation-duration: 15s; animation-delay: -8s; }


@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}
